*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: rgb(73,81,138);
	background: linear-gradient(298deg, rgba(73,81,138,1) 0%, rgba(82,4,130,1) 20%, rgba(3,7,15,1) 79%, rgba(3,7,15,1) 97%);	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: #fff;
}
h1{
	font-size: 50px;
	font-weight: bold;
}
.countdown{
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.time{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 15px;
}
span{
	font-size: 25px;
}